/* Website colors */
:root {
    --highlight-color-primary: #66fcf1;
    --highlight-color-secondary: #45a29e;
    --background-color-dark: #0b0c10;
    --background-color-light: #1d2833;
    --text-color-: #c5c6c7;
}

/* Start Global Resources */
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: var(--background-color-dark);
    margin: 0;
}

#divisionLine {
    background: linear-gradient(135deg, var(--highlight-color-primary), var(--highlight-color-secondary) , var(--highlight-color-primary));
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    margin-top: -2%;
    margin-bottom: 2%;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
}
/* End Global Resources */

/* Start Navbar Section */
.navbar {
    z-index: 1;
    width: 100%;
    position: fixed;
    overflow: hidden;
    background: var(--background-color-dark);
}

.navbar a{
    float: left;
    font-size: 22px;
    display: inline;
    text-align: center;
    color: var(--text-color-);
    padding: 14px 16px;
    text-decoration: none;
    
}

.navbar a:hover {
    background-color: black;
}

.navbar a:active{
    background-color: black;
}
/* End Navbar Section */

/* Start Title Section */
#Title{
    padding-top: 5%;
}

#Jordan {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    padding: 50px 10%;
    color: var(--text-color-);
    text-align: center;
    font-size: 32px;
}

#titleParagraph {
    text-align: center;
    color: var(--text-color-);
    font-size: 26px;

}
/* End Title Section */

/* About me Section */

#AboutMe {
    display: flex;
    flex-direction: column;
}

#aboutmeTitle {
    text-align: center;
    padding: 5% 15%;
    font-size: 32px;
    color: var(--text-color-);
}

#aboutmeParagraph{
    color: var(--text-color-);
    font-size: 26px;
    margin-left: 10%;
    margin-right: 10%;
}
 
/* End About me Section */

/* Start Projects Section */
#Projects {
    display: flex;
    flex-direction: column;
}

#projectsTitle {
    text-align: center;
    padding: 5% 15%;
    font-size: 32px;
    color: var(--text-color-);
}